@import "../src/components/styles/variables.scss";

.App__ {
  &container {
    background-color: $sky;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &footer {
    display: block;
  }
}
